body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
}

main{
    padding: 60px 0px 0px 0px;
}

nav{
    width: 100%;
    background: #2A2A2A;
    position: absolute;
    display: block;
    user-select: none;
    height: 64px;
    overflow: hidden;
    z-index: 100;
}

.navbar_ul{
    border: 0px;
    margin: 0 auto;
    padding: 0;
    height: 64px;
}

.navbar_ul li {
    border: 0px;
    list-style: none;
    display: inline-block;
    height: 64px;
    padding: 0px 20px;
    position: relative;
    line-height: 62px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
#user{
    position: absolute;
    display: block;
    right: 30%;
    top: 0px;
    background: #2F2F2F;
    color: #bebebe;
    font-size: 15px;
    z-index: 102;
    padding: 0px 10px;
    width: 300px;
    height: 64px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    overflow: hidden;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
#user #logout_icon{
    font-size: 25px;
    display: block;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}
#logout_box{
    display: block;
    width: 100%;
    height: 48px;
    position: relative;
    top: 0px;
    cursor: pointer;
}
#logout{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#logout_icon{
    position: relative;
    float: right;
    right: 7%;
    top: 2px;
}
#user #image_box{
    display: inline-block;
    position: relative;
    left: 5px;
    top: 8px;
    width: 44px;
    height: 44px;
}
#user img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: no-repeat top left url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS--zptZAzwmSKk85YP2-xMdJurko7bsSNoakD9ZDuwMXlAlb2Y');
}
#user #text_box{
    display: inline-block;
    height: 64px;
    position: relative;
    left: 20px;
    top: -12px;
}
#user #text_box #first_row{
    display: block;
    height: 32px;
    position: relative;
    top: 17px;
}
#user #text_box #second_row{
    display: block;
    height: 32px;
    position: relative;
    bottom: -11px;
}
#user #username{
    display: inline-block;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 1.2px;
    font-weight: 400;
}
#user #exclamation_mark{
    position: relative;
    left: 2px;
}
#user #balance{
    font-weight: 400;
}
#user b{
    font-family: 'Roboto Condensed';
    font-weight: 600;
}
.navbar_ul li:hover{
    background-color: #fff;
    color: #2A2A2A;
}
.toggle{
    /* position: absolute; */
    z-index: 1001;
    padding: 17px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    background: #2A2A2A;
    font-size: 30px;
    display: none;
    height: 64px;
    width: 100%;
    margin: 0px;
    border: 0px;
}
.nav_logo img{
    width: 90px;;
    z-index: 999;
    display: block;
    position: absolute;
    float: left;
    left: 3%;
    top: -2px;
}

@media (max-width: 1600px){
    .navbar_ul li {
        font-size: 17px;
    }
    #user{
        right: 25%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        font-size: 12px;
        width: 210px;
        padding: 0px 10px 0px 0px;
}
    #user #logout{
        left: 2px;
    }
    #user #image_box{
        display: inline-block;
        position: relative;
        left: 5px;
        top: 9px;
        width: 35px;
        height: 35px;
    }
    #user #username{
        height: 12px;
        top: 1.4px;
    }  
}

@media (max-width: 1000px){
    #user #logout_icon{
        font-size: 23px;
    }
    .toggle{
        display: block;
    }
    nav{
        width: 0px;
        height: 200%;
        right: 0px;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }
    .navbar_ul{
        width: 220px;
        margin: 0px 0px 0px auto;
    }
    
    .navbar_ul li{
        display: block;
    }
    #user{
        right: 65px;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        font-size: 10px;
        width: 170px;
        padding: 0px 10px 0px 0px;
    }
    #user #image_box{
        display: inline-block;
        position: relative;
        left: 5px;
        top: 9px;
        width: 35px;
        height: 35px;
    }
    #user #username{
        height: 10px;
        top: 0.3px;
    }
    #user #text_box{
        top: -12px;
    }
    #user #text_box #first_row{
        top: 21px;
    }
    #user #text_box #second_row{
        bottom: -14px;
    }
    .nav_logo img{
        width: 60px;
        z-index: 999;
        display: block;
        position: absolute;
        float: left;
        left: 10%;
        top: 35px;
        transform:  translate(-50%, -50%);
        -webkit-transform:  translate(-50%, -50%);
        -moz-transform:  translate(-50%, -50%);
        -ms-transform:  translate(-50%, -50%);
        -o-transform:  translate(-50%, -50%);
    }
    #logout{
        font-size: 17.5px;
    }
    #logout_icon{
        position: relative;
        float: right;
        right: 7%;
    }
    .menu_active{
        width: 220px;
    }
}