/* DEFAULT SETTINGS */
@media only screen and (min-width: 0px) {
	body {
		background-color: #2b2d30;
		margin: 0px;
		user-select: none;
	}
	.rules-container *, .infos-container *{
		transition: all 0.3s	;
		-webkit-transition: all 0.3s	;
		-moz-transition: all 0.3s	;
		-ms-transition: all 0.3s	;
		-o-transition: all 0.3s	;
	}
	a {
		text-decoration: none;
		cursor: pointer;
	}
	::placeholder { 
		color: white;
		opacity: 1;
	}
	
	:-ms-input-placeholder { 
		color: white;
	}
	
	::-ms-input-placeholder {
		color: white;
	}
	button {
		outline: none !important;
		border: none;
		background: transparent;
	}
	button:hover {
		cursor: pointer;
	}
	.no-js #loader { 
		display: none; 
	}
	.js #loader { 
		display: block; 
		position: absolute; 
		left: 100px; 
		top: 0; 
	}
	.main {
		height: 100%;
		width: 100%;
    }
    .seperator {
        display: block;
        width: 100%;
        height: 50px;
        position: relative;
        left: 0px;
        top: 0px;
        background-color: #232323
    }
}

/* HEADER */
.header {
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(315deg, rgba(17, 201, 247, .59), rgba(69, 110, 196, .51) 49%, rgba(113, 32, 153, .45)), url("../images/dark_bg.png");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    position: relative;
    margin: 0px;
    left: 0px;
    top: 0px;
    padding: 100px 0px 135px 0px;
    text-align: center;
}
.huge-heading {
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-size: 94px;
    color: white;
    letter-spacing: 5px;
}
.heading-subtitle {
    margin-top: 10px;
    font-family: "Roboto Slab";
    font-size: 20px;
    color: rgba(242, 246, 252, .63);
    letter-spacing: 2px;
    font-weight: 100;
}
.invite_button {
    display: inline-block;
    padding: 13px 24px;
    border-radius: 2px;
    background-color: #0ac278;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .11), inset 0 -34px 50px -25px rgba(0, 0, 0, .16), inset 0 1px 0 0 hsla(0, 0%, 100%, .3);
    -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, box-shadow 200ms ease;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
.invite_button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .11), inset 0 -34px 50px -25px transparent, inset 0 1px 0 0 hsla(0, 0%, 100%, .3);
}
.slider {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 130px;
    margin: 78px auto -135px;
    -webkit-transition: height 500ms ease;
    transition: height 500ms ease;
}
.slider:hover {
    height: 230px;
}
@media only screen and (max-width: 1000px){
	.huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 75px;
		color: white;
		letter-spacing: 3px;
		font-weight: 500;
	}
}
@media only screen and (max-width: 315px){
	.huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 40px;
		color: white;
		letter-spacing: 2px;
	}
}


/* INFOS */
.infos-container{
	display: block;
	width: 100%;
	position: relative;
	background-color: #2b2d30;
}
.first-info{
	display: block;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 60px 0px 0px 0px;
	text-align: center;
}
.first-info div{
	display: inline-block;
	position: relative;
	top: -70px;
	margin-right: 40px;
}
.first-info h2{
	font-family: "roboto";
	font-size: 32px;
	font-weight: 300;
	color: #f2f4f7;
	text-transform: capitalize;
}
.first-info p{
	font-family: "Roboto";
	font-size: 12pt;
	color: #a5a7ad;
}
.first-info img{
	display: inline-block;
	height: 170px;
	position: relative;
	top: -20px;
}

.second-info{
	display: block;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 60px 0px 0px 0px;
	text-align: center;
}
.second-info h2{
	font-family: "roboto";
	font-size: 32px;
	font-weight: 300;
	color: #f2f4f7;
	text-transform: capitalize;
}
.second-info p{
	font-family: "Roboto";
	font-size: 12pt;
	color: #a5a7ad;
}

.third-info{
	display: block;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 60px 0px 0px 0px;
	text-align: center;
}
.third-info div{
	display: inline-block;
	position: relative;
	top: -70px;
	margin-left: 40px;
}
.third-info h2{
	font-family: "roboto";
	font-size: 32px;
	font-weight: 300;
	color: #f2f4f7;
	text-transform: capitalize;
}
.third-info p{
	font-family: "Roboto";
	font-size: 12pt;
	color: #a5a7ad;
}
.third-info img{
	display: inline-block;
	height: 170px;
	position: relative;
	top: -10px;
}

@media only screen and (max-width: 900px){
	.first-info img{
		height: 0;
		width: 0;
	}
	.third-info img{
		height: 0;
		width: 0;
	}
	.first-info div{
		display: inline-block;
		position: relative;
		top: -30px;
		margin-right: 0;
	}
	.third-info div{
		display: inline-block;
		position: relative;
		margin-left: 0;
	}
}

/* RULES */
.rules-container {
	width: 100%;
	height: 600px;
	background-color: #1d1f21;
}
.rules {
	display: block;
	padding: 100px 0px 100px 0px;
	line-height: 100%;
	height: 400px;
	width: 100%;
}
#rules-image-box{
	display: block;
	float: left;
	width: 50%;
}
.rules-image {
	display: block;
	line-height: 100%;
	width: 70%;
	height: 450px;
	background-image: url("../images/rules.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.rules h1 {
	margin-top: 0px;
	margin-bottom: 12px;
	font-family: Roboto, sans-serif;
	color: #f2f4f7;
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
	text-transform: capitalize;
}
.rules p {
	margin-top: 0px;
	margin-bottom: 15px;
	font-family: Roboto, sans-serif;
	color: #a5a7ad;
	font-size: 14px;
	line-height: 22px;
}
.rules i {
	font-size: 12px;
}
.rule-list {
	display: block;
	height: 390px;
	width: 50%;
	position: relative;
	left: 25%;
	transform-origin: center;
}
.rule {
	position: absolute;
	display: block;
	width: 80%;
	height: 80px;
	margin: 24px 0px 24px 0px;
	transform-origin: center;
	top: 10px;
	left: 10%;
}
#first-rule {
	top: 10px;
}
#second-rule {
	top: 138px;	
}
#third-rule {
	top: 268px;	
}
.rule div {
	display: inline-block;
	height: 60px;
	width: 60px;
	vertical-align: middle;
	opacity: .61;
	border: 2px solid #5f6266;
}
.rule img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	line-height: 100%;
	margin: 15px;
}
.rule h2{
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	line-height: 100%;
	margin: 0px 0px 0px 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #d7d9de;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
@media only screen and (max-width: 950px){
	.rules-image {
		width: 0px;
		height: 0px;
		display: none;
	}
	.rule-list{
		width: 100%;
		position: relative;
		left: 0%;
	}
}