#musicbot_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(315deg, rgba(17, 201, 247, .59), rgba(69, 110, 196, .51) 49%, rgba(113, 32, 153, .45)), url("../images/music_bot_name_bg.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    position: relative;
    margin: 0px;
    left: 0px;
    top: 0px;
    padding: 100px 0px 135px 0px;
    text-align: center;
}
#musicbot_huge-heading {
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-size: 94px;
    color: white;
    letter-spacing: 5px;
}
@media only screen and (max-width: 1000px){
	#musicbot_huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 10vw;
		color: white;
		letter-spacing: 3px;
	}
}
@media only screen and (max-width: 315px){
	#musicbot_huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 35px;
		color: white;
		letter-spacing: 2px;
	}
}


#MusicPlayer{
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100px;
    background: #34495e;
}

#MusicProfile{
    position: relative;
    left: 0px;
    top: 0px;
    float: left;
    display: block;
    width: 20%;
    height: 100%;
}

#MusicThumbnail{
    float: left;
    display: block;
    position: relative;
    padding: 0px 20px 0px 40px;
    width: 40%;
    height: 100%;
}

#MusicThumbnail img{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#MusicTitle{
    float: left;
    display: block;
    height: 100%;
    width: 60%;
    position: relative;
    overflow: hidden;
}

#MusicTitle h1{
    color: #ecf0f1;
    font-weight: 400;
    font-size: 24px;
    display: block;
    height: 30px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 50%;
    margin: 0px;
    white-space: pre;
    overflow-wrap: break-word;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media only screen and (max-width: 1400px){
    #MusicThumbnail{
        padding: 0px 20px 0px 20px;
    }
    #MusicThumbnail img{
        height: 60px;
        width: 60px;
    }
}

@media only screen and (max-width: 1000px){
    #MusicThumbnail{
        padding: 0px 20px 0px 5px;
    }
    #MusicThumbnail img{
        height: 60px;
        width: 60px;
    }
}

.Scroller{
    animation: scrolling 15s linear infinite;
    -webkit-animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
    50% {
        transform: translate(-100%, -50%);
        -webkit-transform: translate(-100%, -50%);
        -moz-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        -o-transform: translate(-100%, -50%);
    }
    100% {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
}

#MusicPlayMain{
    float: left;
    display: block;
    width: 80%;
    height: 100%;
}

#MPFirstRow{
    float: left;
    display: block;
    width: 100%;
    height: 60%;
}

#MPFirstRow span{
    float: left;
    display: block;
    height: 100%;
    width: 12.142857142857%;
    font-size: 32px;
}


#MPFirstRow span i{
    float: left;
    display: block;
    font-size: 35px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    cursor: pointer;
}

#VolumeChanger{
    float: left;
    display: block;
    height: 100%;
    width: 15%;
}

#VolumeIcon{
    float: left;
    display: block;
    height: 100%;
    width: 30%;
}

#VolumeIcon i{
    float: left;
    display: block;
    font-size: 35px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    cursor: pointer;
}

#MPFirstRow{
    float: left;
    display: block;
    width: 100%;
    height: 60%;
}

#MPSecondRow{
    float: left;
    display: block;
    width: 100%;
    height: 40%;
}

#VolumeSliderBox{
    float: left;
    display: block;
    height: 100%;
    width: 70%;
}
.volume_slider {
    -webkit-appearance: none;
    display: block;
    width: 80%;
    height: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
.volume_slider:hover {
    opacity: 1;
}

.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.volume_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.music_slider {
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    background: #000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
.music_slider:hover {
    opacity: 1;
}

.music_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.music_slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (max-width: 750px){
    #MPFirstRow span{
        display: block;
        height: 100%;
        width: 25%;
    }
    #MPSecondRow input{
        width: 100%;
    }
    .notonmobile{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    #MusicThumbnail{
        float: left;
        display: block;
        position: relative;
        margin: 0px 10px 0px 10px;
        width: 40px;
        height: 100%;
    }
    
    #MusicThumbnail img{
        width: 60px;
        height: 60px;
}
    
    #MusicTitle{
        width: 0px;
    }

}


#QueueBox{
    position: relative;
    border-collapse:collapse;
}

#QueueBodyBox{
    padding: 20px 10px;
    background: #3c3e41;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.collumn {
    float: left;
    width: 50%;
}

#QueueBox thead h1{
    font-family: 'Roboto';
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

#Queue tr:first-of-type td:first-of-type{
    border-top-left-radius: 15px;
}

#Queue tr:first-of-type td:last-of-type{
    border-top-right-radius: 15px;
}

#Queue tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 15px;
}

#Queue tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 15px;
}

#Queue{
    /* display: block; */
    background: #3c3e41;
    min-height: 30px;
    list-style: none;
    width: 100%;
    padding: 20px 0px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.SongNumber{
    color: #ecf0f1;
    font-size: 25px;
    width: 10%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.SongTitle{
    z-index: 110;
    position: relative;
    width: 75%;
    min-width: 110px;
    height: 40px;
    background:url("../images/line90.jpg") center right no-repeat;
    background-size: 1px 30px;

}

.SongButtons{
    position: relative;
    height: 40px;
}

.SongTitle a{
    text-decoration: underline;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.SongButtons button{
    color: #ecf0f1;
    font-size: 23px;
    text-align: center;
    line-height: 38px;
    margin: 0px 5px;
}

.SongButtons div{
    display: block;
    width: 88px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

thead h1{
    display: block;
    width: 100%;
    text-align: center;
}

thead{
    text-align: center;
}

.BorderRow:nth-of-type(1) td{
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.BorderRow:nth-of-type(2) td{
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
}

/* Second Card */
#SecondCardBox{
    padding: 30px 20px 20px 50px;
}

#AddSong{
    display: inline-block;
    position: relative;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#AddSong h1{
    font-size: 20px;
    font-family: 'Roboto Condensed';
    color: #ecf0f1;
    font-weight: 400;
}

#AddBox{
    font-size: 25px;
    font-family: 'Roboto Condensed';
    color: black;
    font-weight: 400;
    padding: 0px 10px 0px 15px;
    width: 80%;
    height: 50px;
    outline: none;
    border: 0px;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px;
}

#SubmitBox{
    display: inline-block;
    color: white;
    position: relative;
    left: -2px;
    top: 1px;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed';
    color: #ecf0f1;
    font-weight: 400;
    width: 20%;
    height: 50px;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
    background: #27ae5f;
}

#Commands{
    margin: 60px 0px 0px 0px;
}

#CommandsTitle{
    text-align: center;
    color: #ecf0f1;
    font-weight: 400;
    margin: 50px 0px;
}

#CommandsTitle p{
    margin: 0px;
    text-align: center;
    color: #ecf0f1;
    font-size: 15px;
    font-weight: 400;
}

#CommandsTitle i{
    text-align: center;
    color: #ecf0f1;
    font-size: 12px;
    font-weight: 400;
}

.CommandsSubTitle{
    text-align: center;
    color: #ecf0f1;
    font-size: 25px;
    font-weight: 400;
    margin: 60px 0px 30px 0px;
}

dl dt{
    font-size: 20px;
    color: #ecf0f1;
    text-decoration: underline;
    letter-spacing: 2px;
}

dl dd:first-of-type{
    font-size: 18px;
    color: #bdc3c7;
    margin: 10px 0px 50px 50px;
}

dl dd{
    margin: 10px 0px 15px 50px;
    font-size: 18px;
    color: #bdc3c7;
}
#mb_errors{
    margin: 30px 0px 0px 0px;
}

.asd:hover{
    color: #27ae60;
}

.fasz:hover{
    color: #e74c3c;
}


@media only screen and (max-width: 750px) {
    .collumn {
        width: 100%;
    }
    .CommandsSubTitle{
        margin: 60px 0px 30px 0px;
    }

    #SecondCardBox{
        padding: 30px 0px 20px 0px;
        margin: 0px;
    }
        
    dl dt{
        font-size: 20px;
        color: #ecf0f1;
        text-decoration: underline;
        letter-spacing: 2px;
    }

    dl dd{
        margin: 10px 0px 15px 40px;
        font-size: 18px;
        color: #bdc3c7;
    }
    
    #AddSong{
        position: relative;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

}

@keyframes lds-rolling {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
}
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
    }
}
@-webkit-keyframes lds-rolling {
0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
}
}

.rolling, .rolling:after {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 36px;
    height: 36px;
    border: 5px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.rolling {
    animation: lds-rolling 1s linear infinite;
    -webkit-animation: lds-rolling 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.rolling:after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}