#mystats_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(315deg, rgba(17, 201, 247, .59), rgba(69, 110, 196, .51) 49%, rgba(113, 32, 153, .45)), url("../images/graph.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    position: relative;
    margin: 0px;
    left: 0px;
    top: 0px;
    padding: 100px 0px 135px 0px;
    text-align: center;
}
#mystats_huge-heading {
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-size: 94px;
    color: white;
    letter-spacing: 5px;
}
@media only screen and (max-width: 1000px){
	#mystats_huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 10vw;
		color: white;
		letter-spacing: 3px;
	}
}
@media only screen and (max-width: 315px){
	#mystats_huge-heading {
		margin-bottom: 0px;
		font-family: "Roboto Condensed";
		font-size: 35px;
		color: white;
		letter-spacing: 2px;
	}
}

/* LISTS */
#userstats{
    display: block;
    width: 60%;
    padding: 0px;
    margin: 40px 0px 70px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    /* background: green; */
}
#userstats h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Condensed';
    color: silver;
    font-weight: 400;
}
#userstats ul{
    /* background: blue; */
    display: inline-block;
    width: 50%;
    position: relative;
    left: 0px;
    margin: 0px 0;
    padding: 0px;
    list-style: none;
}
#userstats ul div{
    /* background: red; */
    display: inline;
    position: relative;
    left: 20%;
}
#userstats ul li{
    /* background: green; */
    position: relative;
    margin: 20px auto 20px auto;
    display: block;
    width: auto;
}
#userstats ul li p{
    position: relative;
    margin: 0px auto;
    padding: 0px;
    display: inline;
    font-size: 20px;
    font-family: 'Roboto';
    color: silver
}
.stat_label{
    font-size: 21;
}
.stat_value{
    font-weight: 400;
}
@media only screen and (max-width: 1100px){
    #userstats ul{
        /* background: black;; */
        display: block;
        width: 100%;
    }
    #userstats ul li{
        margin: 20px 0px;
        /* padding: 0px 0px 0px 60px; */
        left: 60px;
        width: 100%;
        display: block;
    }
    #userstats ul div{
        display: block;
        /* background: red; */
        width: 370px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    #userstats ul:nth-of-type(2){
        margin-top: 40px;
    }
    #userstats{
        /* background: red; */
        width: 100%;
    }
}
@media only screen and (max-width: 460px){

    .stat_label{
        font-size: 17px;
    }
    .stat_value{
        font-size: 16px;
    }
    #userstats ul li{
        margin: 20px 0px 0;
        /* padding: 0px 0px 0px 60px; */
        left: 15px;
        width: 100%;
        display: block;
    }
    #userstats ul div{
        display: block;
        /* background: red; */
        width: 280px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}


/* CHARTS */
#mychart{
    width: 100%;

}
#mychart_box{
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media only screen and (max-width: 1000px){
    #mychart_box{
        width: 100%;
    }
    #mychart_box canvas{
        font-size: 4px;
    }

}

@media only screen and (max-width: 315px){
    #mychart_box{
        font-size: 4px;
    }
}