#store_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(315deg, rgba(17, 201, 247, .59), rgba(69, 110, 196, .51) 49%, rgba(113, 32, 153, .45)), url("../images/BG.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    position: relative;
    margin: 0px;
    left: 0px;
    top: 0px;
    padding: 100px 0px 135px 0px;
    text-align: center;
}
#store_huge-heading {
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-size: 94px;
    color: white;
    letter-spacing: 5px;
}

* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.item_column:nth-of-type(1){
    float: left;
    width: 25%;
    padding: 0 0;
    margin: 0px 0px;
}
.item_column:nth-of-type(2){
    float: left;
    width: 75%;
    padding: 0 0;
    margin: 0px 0px;
}

.row {
    margin: 50px -5px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.item_row {
    margin: 0 0;
    width: 100%;
}

.item_row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1300px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #8b8b8b;
    position: relative;
}
.imgbox{
    background: #aaa;
    width: 96px;
    height: 96px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.card_title{
    font-size: 32px;
    color: #505050;
}

.item_column h1{
    text-align: center;
    color: #d4d4d4;
    font-size: 25px;
    margin: 0px;
    display: block;
    font-weight: 400;
}

.item_column:nth-child(1) h1{
    text-align: left;
    color: #f7f7f7;
}

.item_column:nth-child(2) h1{
    text-align: right;
    color: #f7f7f7;
    display: block;
    width: 100%;
    float: right;
}

.item_desc{
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto';
    margin: 30px 0px;
    color: #444444;
}

.item_btns{
    margin: 40px 0px 0px 0px;
}

.buy_btn{
    background: #0f0;
    padding: 7px 0px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 48px;
}

.sell_btn{
    background: #f00;
    padding: 7px 0px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 48px;
}

.buy_btn h1{
    margin: 0px;
    font-weight: 500;
    letter-spacing: 2px;
    vertical-align: middle;
    line-height: 24px;
}

.sell_btn h1{
    margin: 0px;
    font-weight: 500;
    letter-spacing: 2px;
    color: whitesmoke;
    vertical-align: middle;
    line-height: 24px;
}

.fa-money-bill-alt{
    color: rgb(211, 211, 211);
}
.loading_gif{

    position: relative;
    left: 50%;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.loading_card{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #2b2d30;
    margin: -16px; 
    z-index: 1000;
    visibility: hidden;
}

#dj_buy_btn{
    height: 116px;
}

#errors{
    margin: 30px 0px 0px 0px;
}

.error{
    background: #f22;
    width: 40%;
    border: 3px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.error h1{
    left: 0px;
    top: 0px;
    margin: 0px;
    text-align: center;
    font-size: 28px;
    vertical-align: middle;
    line-height: 36px;
    padding: 0px;
}

.sucess{
    background: #2f2;
    width: 40%;
    border: 3px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.sucess h1{
    left: 0px;
    top: 0px;
    margin: 0px;
    text-align: center;
    font-size: 28px;
    vertical-align: middle;
    padding: 0px;
}

@media screen and (max-width: 800px) {
    .error{
        width: 80%;
    }
    
    .error h1{
        font-size: 28px;
    }
    .sucess{
        width: 80%;
    }
    
    .sucess h1{
        font-size: 28px;
    }
}